---
import Layout from "../../layouts/Layout.astro";

type Post = {
  frontmatter: {
    title: string;
    tags: string[];
    date?: string;
    [key: string]: any;
  };
  file: string;
  [key: string]: any;
};

const allPosts = (await Astro.glob("../../content/blog/*.md")) as Post[];

const posts = allPosts.map((post) => ({
  ...post,
  slug: post.file.split("/").pop()?.replace(".md", "") || "no-slug",
}));
---

<Layout>
  <h1>記事一覧</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.slug}`}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
