@import "tailwindcss";
/* 基本的なカラー変数（ライトモード） */
:root {
  --color-primary-bg: #f4f3f3;
  --color-primary-text: #333;
  --color-secondary-text: #333;
  --color-border: #bcbcbc;
}

/* ダークモード変数の上書き */
.dark {
  --color-primary-bg: #333;
  --color-primary-text: #f4f3f3;
  --color-border: #bcbcbc;
}

/* カスタムユーティリティの定義 */
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary-bg);
  }
  .text-primary {
    color: var(--color-primary-text);
  }
  .text-secondary {
    color: var(--color-secondary-text);
  }
  .border-primary {
    @apply border;
    border-color: var(--color-border);
  }
  .section-heading {
    @apply text-2xl font-semibold mb-4;
  }
  .main-content {
    @apply max-w-4xl mx-auto px-4 mt-10;
  }
  .contact-input {
    @apply w-full px-3 py-2 border;
    border-color: var(--color-border);
  }
  .grid-auto-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/* ===============================================
# 記事のスタイル
=============================================== */
.markdown-content {
  @apply text-[var(--color-primary-text)];
}

.markdown-content h1 {
  @apply text-3xl font-bold mt-8 mb-4;
}

.markdown-content h2 {
  @apply text-2xl font-bold mt-6 mb-3 border border-dashed p-3;
}

.markdown-content h3 {
  @apply text-xl font-bold mt-5 mb-2  pl-3 border-l-2;
}

.markdown-content h4 {
  @apply text-lg font-bold mt-5 mb-2;
}
.markdown-content p {
  @apply mb-4 leading-relaxed;
}

.markdown-content ul,
.markdown-content ol {
  @apply mb-4 ml-6;
}

.markdown-content ul {
  @apply list-disc;
}

.markdown-content ol {
  @apply list-decimal;
}

.markdown-content li {
  @apply mb-2;
}

.markdown-content a {
  @apply text-blue-600 hover:underline dark:text-blue-400;
}

.markdown-content blockquote {
  @apply pl-4 border-l-4 border-gray-300 italic my-4;
}

.markdown-content code:not(pre code) {
  @apply p-1 rounded text-sm bg-gray-600;
}

.markdown-content pre {
  @apply p-4 rounded-md overflow-x-auto my-4;
}

.markdown-content img {
  @apply max-w-full h-auto my-4 rounded-md;
}

.markdown-content table {
  @apply w-full border-collapse my-4;
}

.markdown-content th,
.markdown-content td {
  @apply border border-gray-300 p-2;
}

.markdown-content th {
  @apply bg-gray-100;
}
