---
import Layout from "../../../layouts/Layout.astro";
import BlogArea from "../../../components/blog/BlogArea.astro";
import Pagination from "../../../components/blog/Pagination.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const POSTS_PER_PAGE = 12;
  const allPosts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? !data.draft : true;
  });
  const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);

  const paths = Array.from({ length: totalPages }, (_, i) => ({
    params: { page: i === 0 ? undefined : String(i + 1) },
  }));
  return paths;
}

const POSTS_PER_PAGE = 12;
const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});
const pageParam = Astro.params.page;
const currentPage = pageParam ? parseInt(pageParam) : 1;
const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);
---

<Layout title="ブログ一覧">
  <div class="mt-20">
    <BlogArea />
  </div>
  <div class="mt-8">
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      baseUrl="/blog/page"
    />
  </div>
</Layout>
