---
import Layout from "../../../layouts/Layout.astro";
import {
  getAllPosts,
  paginateItems,
  getSlugFromId,
} from "../../../lib/utils/posts";
import BlogArea from "../../../components/blog/BlogArea.astro";
import Pagination from "../../../components/blog/Pagination.astro";

// ページのパスを生成
export async function getStaticPaths() {
  // ページサイズを定義 (関数内に移動)
  const POSTS_PER_PAGE = 12;

  const allPosts = await getAllPosts();
  const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);

  return Array.from({ length: totalPages }, (_, i) => {
    const page = i + 1;
    return {
      params: { page: String(page) },
      props: {
        page,
        totalPages,
        paginatedPosts: paginateItems(allPosts, page, POSTS_PER_PAGE),
      },
    };
  });
}

// ページのコンテンツを取得
const { page, totalPages, paginatedPosts } = Astro.props;
const { items: posts } = paginatedPosts;
---

<Layout title="記事一覧">
  <div class="mt-20">
    <BlogArea customPosts={posts} />
    <Pagination
      currentPage={page}
      totalPages={totalPages}
      baseUrl="/blog/page"
    />
  </div>
</Layout>
