---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  return [{ params: { tag: "astro" } }, { params: { tag: "javascript" } }];
}
const { tag } = Astro.params;
const allPosts = await Astro.glob("../../content/blog/*.md");
---

<Layout>
  <h1>tag:{tag}のページ</h1>
</Layout>
