---
// src/pages/tags/[tag].astro

import Layout from "../../layouts/Layout.astro";
import { getAllPosts } from "../../lib/blog";

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  const allTags = [
    ...new Set(allPosts.flatMap((post) => post.data.tags || [])),
  ];

  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<Layout title=`${tag}の記事一覧`>
  <div class="mt-10">
    <ul class="">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
