---
import Layout from "../../layouts/Layout.astro";

type Post = {
  frontmatter: {
    title: string;
    tags: string[];
    [key: string]: any;
  };
  file: string;
  [key: string]: any;
};

type PostWithSlug = Post & { slug: string };

type StaticPath = {
  params: { tag: string };
  props: { posts: PostWithSlug[] };
};

export async function getStaticPaths(): Promise<StaticPath[]> {
  const allPosts = (await Astro.glob("../../content/blog/*.md")) as Post[];

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag): StaticPath => {
    const filteredPosts = allPosts
      .filter((post) => post.frontmatter.tags.includes(tag))
      .map((post) => ({
        ...post,
        slug: post.file?.split("/").pop()?.replace(".md", "") || "no-slug",
      }));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<Layout>
  <h1>tag: {tag} のページ</h1>
  <ul>
    {
      posts.map((post: PostWithSlug) => (
        <li>
          <a href={`/${post.slug}`}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
