---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths(){

  return [
    {params:{tag:'astro'}},
    {params:{tag:'Javascript'}}
  ];

}

---

<Layout>
  <h1>tag:Astroのページ</h1>
</Layout>
