---
import Layout from "../layouts/Layout.astro";
import { type CollectionEntry } from "astro:content";
import { getAllPosts } from "../lib/blog";

type BlogPost = CollectionEntry<"blog">;

interface Props {
  post: BlogPost;
}

export async function getStaticPaths() {
  const blogPosts = await getAllPosts();
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article class="blog-content max-w-screen-lg">
    {post.data.description && <p>{post.data.description}</p>}

    <div class="content">
      <Content />
    </div>
  </article>
</Layout>

<style is:global>
  .blog-content {
    margin: 100px auto 0;
  }

  .blog-content h1 {
    margin-bottom: 1.5rem;
  }

  .blog-content h2 {
    margin: 2rem 0 1rem;
  }

  .blog-content h3 {
    margin: 1.5rem 0 1rem;
  }

  .blog-content p {
    margin-bottom: 1.5rem;
  }

  .blog-content pre.astro-code.github-dark {
    padding: 1rem;
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  .blog-content ul,
  .blog-content ol {
    margin: 1.5rem 0;
    padding-left: 1.5rem;
  }

  .blog-content li {
    margin-bottom: 0.5rem;
  }

  .blog-content img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0;
  }

  @media (max-width: 768px) {
    .blog-content {
      padding: 1rem;
    }
  }
</style>
