---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../lib/utils/utils";
import { getTagColor } from "../lib/utils/tags";
import { getAllPosts, getSlugFromId } from "../lib/utils/posts";

// ページのパスを生成
export async function getStaticPaths() {
  const allPosts = await getAllPosts();

  return allPosts.map((entry) => ({
    params: {
      slug: getSlugFromId(entry.id),
    },
    props: { entry },
  }));
}

// ページのコンテンツを取得
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article class="prose max-w-3xl mx-auto">
    <div class="mb-8">
      <h2 class="text-4xl font-bold mb-2">{entry.data.title}</h2>
      <div class="flex items-center justify-between mb-8">
        <div class="flex gap-2 flex-wrap">
          {
            entry.data.tags.map((tag) => (
              <span
                class={`text-sm px-3 py-1 rounded-full ${getTagColor(tag)} text-white`}
              >
                {tag}
              </span>
            ))
          }
        </div>
        <time class="text-primary">
          {
            formatDate(
              entry.data.date instanceof Date
                ? entry.data.date.toISOString()
                : String(entry.data.date)
            )
          }
        </time>
      </div>
    </div>

    <div class="markdown-content">
      <Content />
    </div>
  </article>
</Layout>
