---
import Layout from "../layouts/Layout.astro";
import { type CollectionEntry } from "astro:content";
import { getAllPosts } from "../lib/blog";

type BlogPost = CollectionEntry<"blog">;

interface Props {
  post: BlogPost;
}

export async function getStaticPaths() {
  const blogPosts = await getAllPosts();
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article>
    {post.data.description && <p>{post.data.description}</p>}

    <div class="content">
      <Content />
    </div>
  </article>
</Layout>
