---
import Layout from "../layouts/Layout.astro";
---

<Layout title="プライバシーポリシー">
  <h1 class="text-4xl font-bold text-center">プライバシーポリシー</h1>

  <div class="main-content">
    <p class="mb-4">制定日：2025年04月14日</p>
    <p class="mb-6">制定日：2025年04月14日</p>

    <p class="mb-6">
      【RyoBlog】(以下「当ブログ」)のプライバシーポリシー・免責事項を次の通り記載します。
    </p>

    <h3 class="subsection-heading">個人情報の利用目的について</h3>
    <p class="mb-6">
      当ブログでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。
      取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
    </p>

    <h3 class="subsection-heading">広告について</h3>
    <p class="mb-6">
      当ブログでは、第三者配信の広告サービス（Googleアドセンス、Amazonアソシエイト）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。
      クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
      Cookieを無効にする方法やGoogleアドセンスに関する詳細は<a
        href="https://policies.google.com/technologies/ads?hl=ja"
        target="_blank"
        rel="noopener noreferrer">こちら</a
      >をご確認ください。
      また、当サイトは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。
    </p>

    <h3 class="subsection-heading">アクセス解析ツールについて</h3>
    <p class="mb-6">
      当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
      Googleアナリティクスの広告向け機能はブラウザ用アドオンでもオプトアウトすることができます。
    </p>

    <h3 class="subsection-heading">コメントについて</h3>
    <p class="mb-6">
      当ブログへのコメントを残す際に、IPアドレスを収集しています。
      これはブログの標準機能としてサポートされている機能で、スパムや荒らしへの対応以外にこのIPアドレスを使用することはありません。
      なお、全てのコメントは管理人が事前にその内容を確認し、承認した上での掲載となります。あらかじめご了承ください。
    </p>

    <h3 class="subsection-heading">免責事項</h3>
    <p class="mb-6">
      当ブログからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
      また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
    </p>

    <h3 class="subsection-heading">お問い合わせ</h3>
    <p class="mb-6">
      本ポリシーに関するお問い合わせは、<a href="/contact"
        >お問い合わせフォーム</a
      >よりご連絡ください。
    </p>
  </div>
</Layout>
