---
import LinkButton from "../components/Atoms/LinkButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="送信完了">
  <div class="main-content text-center">
    <div class="mt-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-24 w-24 mx-auto text-green-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
    </div>

    <h2 class="section-heading mt-8">お問い合わせありがとうございます</h2>

    <p class="mt-6">
      メッセージを受け付けました。内容を確認次第、できるだけ早くご返信いたします。
    </p>
    <p class="mt-10">
      通常2〜3営業日以内にご返信いたしますが、状況によって遅れる場合もございますので、ご了承ください。
    </p>

    <div class="mt-20">
      <LinkButton href="/">TOPに戻る</LinkButton>
    </div>
  </div>
</Layout>
