---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex justify-between items-center p-4">
  <a href="/">RyoBlog</a>
  <div class="flex items-center space-x-4">
    <nav class="hidden md:block">
      <ul class="flex space-x-6">
        <li>
          <a href="../blog">記事一覧</a>
        </li>
        <li>
          <a href="">運営者について</a>
        </li>
        <li>
          <a href="">お問い合わせ</a>
        </li>
      </ul>
    </nav>
    <ThemeToggle />
  </div>
</header>
