---
const allPosts = await Astro.glob("../../content/blog/*.md");
const currentPath = Astro.url.pathname;

// カテゴリ一覧を取得（重複排除 & nullチェック）
const uniqueTags = [
  ...new Set(
    allPosts
      .flatMap((post) => post.frontmatter.tags || [])
      .filter((tag): tag is string => typeof tag === "string")
  ),
];
---

<div class="w-fit mx-auto text-center">
  <ul class="flex flex-wrap justify-center gap-3 mt-10">
    {
      uniqueTags.map((tag) => {
        const tagUrl = `/tags/${encodeURIComponent(tag)}`;
        const isActive = currentPath === tagUrl;

        return (
          <li>
            <a
              href={tagUrl}
              class={`px-5 py-2 transition duration-300 border-primary hover:opacity-70 ${
                isActive ? "bg-gray-300 text-secondary pointer-events-none" : ""
              }`}
            >
              {tag}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
