---
import ThemeToggle from "../Atoms/ThemeToggle.astro";

const navItems = [
  { href: "/", label: "TOP" },
  { href: "/blog/page", label: "BLOG" },
  { href: "/about", label: "ABOUT" },
  { href: "/contact", label: "CONTACT" },
];
---

<header class="flex justify-between items-center p-4 border-b">
  <a href="/" class="text-2xl font-bold">RyoBlog</a>

  <div class="flex items-center space-x-10">
    <nav class="hidden md:block">
      <ul class="flex space-x-8">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={`p-2 hover:underline ${Astro.url.pathname === item.href ? "font-bold text-blue-600" : ""}`}
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ThemeToggle />
  </div>
</header>
